<div [ngClass]="isDarktheme ? 'define-dark-theme' : 'define-light-theme'">
  <mat-card>
<section>
  <div class="container text-center">
        <mat-slide-toggle (click)="toggleTheme()">Dark Mode</mat-slide-toggle>  
  </div>
</section>
<section>
  <div class="header-post">
    <div class="wow animate__animated animate__fadeInLeft">
      <img src="../assets/Osumare Logo-01 (2) 4.png" alt="osumare">
    </div>
    <div class="wow animate__animated animate__fadeInRight">
      <button class="rounded-pill">Contact us </button>
    </div>
  </div>
</section>

<div class="container mt-5 text-center wow animate__animated animate__fadeInUp">
  <p class="head">Elevate <b id="highlight">Real Estate Success</b> with <br>Osumare's Digital Expertise</p>
  <p class="head2 text-secondary">Tailored Solutions for Thriving in the Digital Real Estate Landscape</p>
  <button class="btn1">Get started</button>
  <img src="../assets/Header image.png" class="pt-5 wow animate__animated animate__fadeInUp" alt="Header-img">
</div>

<section>
<div class="container wow animate__animated animate__fadeInLeft">
  <div class="focus">
    <h2><b>Real Estate-Focused Digital Mastery</b></h2>
  </div>
</div>

<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-lg-6 mt-2 wow animate__animated animate__fadeInLeft">
      <img src="../assets/cuate.png" alt="cuate">
    </div>
   <div class="col-lg-6 mt-2 wow animate__animated animate__fadeInRight">
      <div class="stepBox">
          <h2 style="font-weight: bolder;">Unlock the Potential of Digital Real<br> Estate Excellence</h2>
          <p class="text-secondary">At Osumare, we understand that the real estate landscape 
            demands a digital presence that aligns with the intricacies of 
            property marketing. Our range of specialized services is 
            meticulously designed to catapult your brand's success in the 
            ever-evolving digital property market.</p>
          <button class="btn1 mt-4">Get started</button>
      </div>
   </div>
  </div>
</div>
</section>

<section>
  <div class="container services wow animate__animated animate__fadeInUp">
    <div class="focus">
      <h2><b>Our Service Offerings</b></h2>
      <p class="head2 text-secondary">Tailored Solutions for Thriving in the Digital Real Estate Landscape</p>
    </div>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox1 wow animate__animated animate__fadeInLeft">
                <img src="../assets/Group 117.png" class="rounded-circle" alt="1">
                <h3>Automotive SEO</h3>
                <p>Drive Your Success with Automotive SEO: Ignite Online Visibility and Outrace the Competition. Accelerate Your Business Growth Today</p>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox1 wow animate__animated animate__slideInUp">
                <img src="../assets/Group 117 (1).png" class="rounded-circle" alt="2">
                <h3>PCC Precision</h3>
                <p>Maximize visibility and drive quality traffic with meticulously targeted Pay-Per-Click campaigns.</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox1 wow animate__animated animate__slideInRight">
                <img src="../assets/Group 117 (2).png" class="rounded-circle" alt="3">
                <h3>Social Acceleration</h3>
                <p>Engage and influence your audience across social media platforms, amplifying your brand's presence and connection.</p>
            </div>
        </div>
        <!-- four  -->
        <div class="col-lg-4 mt-2">
          <div class="stepBox1 wow animate__animated animate__slideInLeft">
              <img src="../assets/Group 117 (4).png" class="rounded-circle" alt="4">
              <h3>Web Design</h3>
              <p>Transform visitors into customers with high-performance websites designed for seamless user experiences and increased conversions.</p>
          </div>
      </div>
      <!-- five  -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox1 wow animate__animated animate__slideInUp">
            <img src="../assets/Group 117 (5).png" class="rounded-circle" alt="5">
            <h3>Data-Driven</h3>
            <p>Leverage data to refine your strategies, making informed decisions that drive revenue growth.</p>
        </div>
    </div>
    <!-- six  -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox1 wow animate__animated animate__slideInRight">
          <img src="../assets/Group 117 (6).png" class="rounded-circle" alt="5">
          <h3>Video Marketing</h3>
          <p>Unleash the Power of Video Marketing: Captivate, Engage, and Elevate Your Brand with Compelling Visual Stories.</p>
      </div>
    </div>
  </div>
  <!--button-->
  <button class="btn1 mt-4 wow animate__animated animate__slideInUp">Get started</button>

</div>
</section>

<section>
  <div class="container">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Navigating Real Estate's Digital Landscape</b></h2>
      <p class="head2 text-secondary">Insights for Real Estate Marketing Advantage</p>
    </div>

    <div class="row mt-5">
      <div class="col-lg-5 mt-2 stepBox2 wow animate__animated animate__slideInUp" style="height: 85px;">
        <div class="imgbox">
           <img src="../assets/Group 116.png" alt="e1">
        </div>
         <div class="textbox" style="height: 85px;">  
             <h2 style="font-weight: bolder;">Market Trends Analysis</h2>
             <p class="text-secondary">Predictive insights to guide real estate strategies.</p>
         </div>
      </div>

      <div class="col-lg-7 mt-2 img1">
        <img src="../assets/rafiki.png" alt="rafiki" style="width: 640px; padding-right: 50;">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Driving Property Inquiries to Conversions</b></h2>
      <p class="head2 text-secondary">Streamlined Strategies for Real Estate Success</p>
    </div>
    
    <div class="row mt-5">
      <div class="col-lg-6 mt-2 wow animate__animated animate__slideInLeft">
        <img src="../assets/bro.png" alt="bro">
      </div>
     <div class="col-lg-6 mt-2">
        <div class="stepBox wow animate__animated animate__slideInRight">
            <h3 style="font-weight: bolder;">Optimized Path to Property Purchase</h3>
            <p class="text-secondary">In the dynamic realm of real estate, the journey
              from a property inquiry to a successful conversion 
              demands a well-crafted approach. At Osumare, 
              we specialize in guiding and there many approches looks
              potential buyers through this journey seamlessly, 
              maximizing inquiries-turned-conversions with expert 
              strategies.</p>
            <button class="btn1 mt-4 wow animate__animated animate__slideInUp">Get started</button>
        </div>
     </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Driving Property Inquiries to Conversions</b></h2>
    </div>   
    
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInLeft">
          <img src="../assets/virtual_10569504 2.png" class="rounded-circle" alt="virtual">
          <h3>Call-to-Action Optimization</h3>
          <p>Our carefully crafted CTAs guide potential buyers through the property journey, enhancing engagement and conversion rates.</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInRight">
          <img src="../assets/online-store_3929777 2.png" class="rounded-circle" alt="online">
          <h3>Landing Page Efficiency</h3>
          <p>Tailored landing pages are designed for maximum property lead conversion. They provide seamless user experiences and clear pathways for inquiry submission.</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInLeft">
          <img src="../assets/3d_9345318 2.png" class="rounded-circle" alt="3d_9345318">
          <h3>Social Proof Utilization</h3>
          <p>Leverage the power of testimonials and success stories from satisfied buyers to build trust and credibility, encouraging hesitant prospects to take action</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInRight">
          <img src="../assets/augmented-reality_7065057 2.png" class="rounded-circle" alt="augmented-reality_7065057">
          <h3>Mobile-Friendly Experience</h3>
          <p>With a responsive design approach, our strategies ensure a seamless browsing experience across all devices. This responsiveness enhances engagement and conversions by accommodating the preferences of on-the-go property seekers.</p>
      </div>        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Our Expertise in Action</b></h2>
    </div>   
    
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInLeft">
          <img src="../assets/weather_534564 2.png" class="rounded-circle" alt="weather_534564">
          <h3>Effective CTAs</h3>
          <p>See how our strategic CTAs drove a significant increase in property inquiries and accelerated sales for a real estate agency.</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInRight">
          <img src="../assets/mass_9984040 2.png" class="rounded-circle" alt="mass_9984040">
          <h3>Conversion-Optimized Landing Pages</h3>
          <p>Explore a case study where our landing page optimization increased property lead conversion rates by 30%</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInLeft">
          <img src="../assets/3d-model_9040866 3.png" class="rounded-circle" alt="3d-model_9040866">
          <h3>Trust Building with Social Proof</h3>
          <p>Discover how leveraging client testimonials boosted buyer confidence, leading to higher conversion rates for a property development project</p>
      </div>        
      </div>

      <div class="col-lg-6">
        <div class="without_box wow animate__animated animate__slideInRight">
          <img src="../assets/medal_2439078 (1) 1.png" class="rounded-circle" alt="medal_2439078">
          <h3>Mobile-First Success:</h3>
          <p>Learn how our mobile-responsive design approach resulted in a 25% increase in inquiries from mobile users for a real estate agency.</p>
      </div>        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid mt-5 text-center" id="grad1">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Your Peace of Mind</b></h2>
    </div>
    <p class="head3 text-secondary wow animate__animated animate__slideInRight">Through our conversion-focused strategies, we ensure that property 
      seekers are not just visitors, but engaged prospects ready to make 
      their next move in the real estate market</p>
    <button class="btn1 wow animate__animated animate__slideInUp">Get started</button>
  </div>
</section>

<section>
  <div class="container-fluid mt-3 text-center">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>What Our Pharma Partners Say</b></h2>
    </div>
    <p class="head2 text-secondary wow animate__animated animate__slideInUp">Driving Transformations, One Brand at a Time</p>
  </div>
</section>

<section>
  <div class="container wow animate__animated animate__slideInDown" style="padding-left: 300px;">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-7">
          <img src="../assets/Tabish formal photo (1) 1.png" class="img-fluid rounded-start" alt="Tabish">
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h6 class="card-title">Tabish Khan</h6>
            <p class="card-text text-secondary">Osumare's expertise in pharma marketing is unparalleled. Their strategies helped us navigate complex regulations while driving remarkable growth.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <i class="fa-solid fa-circle-arrow-left" style="color: #74C0FC; font-size: x-large;"><span>&nbsp;&nbsp;</span></i><i class="fa-solid fa-circle-arrow-right" style="color: #74C0FC; font-size: x-large;"></i>
  </div>
</section>

<section>
  <div class="container-fluid mt-5 text-center">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Frequently Asked Questions</b></h2>
    </div>
    <p class="head2 text-secondary wow animate__animated animate__slideInUp">Pinpoint your audience with precision, ensuring your marketing efforts reach those most likely to engage with your brand.</p>
    <div class="dropdown-list wow animate__animated animate__slideInDown">
      <ul class="list-group" style="width: 500px;">
        <li class="list-group-item dropdown-toggle" aria-current="true"data-bs-toggle="dropdown" aria-expanded="false"><b>3. How does Osumare measure campaign success?</b></li>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">3. How does Osumare measure campaign success?</a></li>
        </ul>
        <li class="list-group-item dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"><b>3. How does Osumare measure campaign success?</b></li>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">3. How does Osumare measure campaign success?</a></li>
        </ul>
        <li class="list-group-item active dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><b>3. How does Osumare measure campaign success?</b></li>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-muted justify-content-left" href="#">We believe in measurable results. Our data-driven approach means that every campaign's performance is tracked, analyzed, and refined for optimal outcomes. We provide regular reports that detail key metrics, giving you clear insights into how our strategies are driving growth for your brand.</a></li>
        </ul>  
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid mt-5 text-center" id="grad1">
    <div class="focus wow animate__animated animate__slideInUp">
      <h2><b>Connect with Our Digital Marketing Experts</b></h2>
    </div>
    <p class="head3 text-secondary wow animate__animated animate__slideInRight">Reach Out for Tailored Strategies and Results-Driven Solutions. Let's Elevate Your Online Presence Together</p>
    <button class="btn1 wow animate__animated animate__slideInUp">Get started</button>
  </div>
</section>

<section class="container mt-5 mb-5 menu">
  <div class="row">
      <div class="col-lg-4 wow animate__animated animate__slideInLeft">
          <div>
          <img src="../assets/Osumare Logo-01 (2) 4.png" alt="osumare">
        </div>
        <div class="word">
          <p>The best digital marketing agency in Pune with a proven track record of consistently delivering quality service.</p>
        </div>
        <div class="mt-2 address">
          <h3>Address</h3>
          <p class="word">Survey No. 43, Pathare Thube Nagar, Nagar Road, Kharadi, Pune-14, Maharastra, India.</p>
        </div>
        <div class="mt-2 address">
          <h2>Contact</h2>
          <p class="word"><i class="fa-solid fa-envelope" style="color: #000000;">&nbsp;</i>hello@osumare.in</p>
          <p class="word"><i class="fa-solid fa-phone" style="color: #000000;">&nbsp;</i>+91-8485862908</p>
        </div>
      </div>
    <div class="col-lg-4 wow animate__animated animate__slideInDown">
      <h1>Menu</h1>
      <div class="vertical">
        <p>Home</p>
        <p>About</p>
        <p>Services</p>
        <p>Work</p>
        <p>Blog</p>
        <p>Career</p>  
      </div>
    </div>
    <div class="col-lg-4 social wow animate__animated animate__slideInRight">
      <h1>Social</h1>
      <i class="fa-brands fa-twitter wow animate__animated animate__bounce" style="color: #000000;">&nbsp;&nbsp;&nbsp;</i>
      <i class="fa-brands fa-facebook wow animate__animated animate__bounce" style="color: #000000;">&nbsp;&nbsp;&nbsp;</i>
      <i class="fa-brands fa-youtube wow animate__animated animate__bounce" style="color: #0f0f0f;">&nbsp;&nbsp;&nbsp;</i>
      <i class="fa-brands fa-pinterest wow animate__animated animate__bounce" style="color: #000000;">&nbsp;&nbsp;</i><br>
      <i class="fa-brands fa-square-whatsapp wow animate__animated animate__bounce" style="color: #030303;">&nbsp;&nbsp;&nbsp;</i>
      <i class="fa-brands fa-square-instagram wow animate__animated animate__bounce" style="color: #111212;">&nbsp;&nbsp;&nbsp;</i>
    </div>
  </div>
</section>

<section class="container-fluid text-center wow animate__animated animate__tada">
  <p>&copy; 2023 Osumare. All rights reserved</p>
</section>
</mat-card>
</div>